<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ page.title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/main.css">
        <script src="/js/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <header>
          <div class="container">
            <a href="/" title="Home">
              <img src="/images/burkhard-pauli_logo.png" alt="Pauli - Web Development" class="logo"/>
            </a>
            <nav class="navbar navbar-default" role="navigation">
              <ul class="nav navbar-nav">
                <li{% if page.url contains "index.html" %} class="active"{% endif %}><a href="/">Home</a></li>
                <li{% if page.url contains "/blog" %} class="active"{% endif %}><a href="/blog.html">Blog</a></li>
                <li{% if page.url contains "/portfolio.html" %} class="active"{% endif %}><a href="/portfolio.html">Portfolio</a></li>
                <li{% if page.url contains "/about.html" %} class="active"{% endif %}><a href="/about.html">About</a></li>
                <li{% if page.url contains "/contact.html" %} class="active"{% endif %}><a href="/contact.html">Contact</a></li>
              </ul>
            </nav>
          </div>
        </header>
        <div class="container">{{ content }}</div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="/js/main.min.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>

